asgiref==3.4.1
boto3==1.18.38
botocore==1.21.38
CacheControl==0.12.6
certifi==2021.5.30
chardet==4.0.0
Django==3.2.12
djangorestframework==3.12.4
flake8==3.9.2
idna==3.2
iso3166==1.0.1
jmespath==0.10.0
mapbox==0.18.0
mccabe==0.6.1
msgpack==1.0.2
polyline==1.4.0
pycodestyle==2.7.0
pyflakes==2.3.1
python-dateutil==2.8.2
python-dotenv==0.19.0
pytz==2021.1
requests==2.26.0
s3transfer==0.5.0
six==1.16.0
sqlparse==0.4.2
uritemplate==3.0.1
urllib3==1.26.6
yapf==0.31.0
gunicorn==20.1.0
whitenoise==5.3.0
